.Modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: visible;
    .Modal__content {
      transform: scale(1, 1);
    }
  }
  .Modal__content {
    background-color: #fff;
    max-width: 80vw;
    min-width: 50vw;
    padding: 25px 20px;
    position: relative;
    transform: scale(0, 0);
    transition: all 0.3s ease-in-out;
  }
  .Modal__close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__header {
    padding-bottom: 10px;
  }
}
