@import "~normalize.css";
@font-face {
  font-family: "MyFont";
  src: url("./Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 16px;
  font-family: "MyFont";
}

h1 {
  font-style: 2.3rem;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  &.active {
    button {
      text-shadow: 1px 1px 2px #1976d2;
    }
  }
}
